.section-projects {
	// @include background($color-secondary, $color-secondary-light);
	background-color: #f7f7f7;
	padding: 12rem 0;
	text-align: center;
	margin-top: -21vh;

	@include respond(tab-port) {
		padding: 15rem 0;
	}

	@include respond(phone){
		padding: 18rem 0 10rem 0	;    
	}
	
	@include respond(smallPhone){
		padding: 27rem 0 10rem 0	;    
	}
	
	@include respond(iPhoneX){
		padding: 32rem 0 10rem 0;    
  }
}

.section-about{
	padding: 10rem 0;
	@include background($color-primary, $color-primary-light);
	background-color: rgba($color-primary, $background-opacity);
  clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);


	margin-top: -10rem;

}

.section-contact {
	padding: 15rem 0 0 0;
	// background-image: linear-gradient(
  //       to right bottom,
  //       rgba($color-secondary, 0.70),
  //       rgba($color-secondary-light, 0.70)
  //   );
	background-color: #f7f7f7;
	margin-top: -33vh;

	@include respond(phone){
		padding: 25rem 0 0 0;
	}

	@include respond(smallPhone){
		padding: 40rem 0 0 0;    
	}
	
	@include respond(iPhoneX){
		padding: 45rem 0 0 0;    
  }
}