body {
  color: set-text-color($color-primary);
  font-family: "Segoe UI", "Tahomma", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header-primary {
  color: $color-yellow;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.25rem;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--firstName {
    display: block;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--lastName {
    display: block;
    // color: $color-secondary;
    color: $color-yellow;

    
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
}

.header-subtitle {
  color: $color-white;
  // color: $color-yellow;

  font-size: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(lighten($color-primary, 2), 0.5);
  border-radius: 20px;
  font-weight: 500;
  letter-spacing: 0.5rem;
  // margin-bottom: 1rem;
  display: block;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.header-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  color: $color-blue-light-1;
  // color: $color-yellow;

  letter-spacing: 2px;
  // margin: 5rem 0;
  // justify-content: center;

  &__light {
    // color: $color-secondary;
  color: $color-yellow;
  @include respond(bigPhone) {
    padding-left: 7rem;
  }
  // color: $color-secondary;

  }

  &__project {
    font-size: 2rem;
    font-weight: 700;
  }

}

.header-contact {
  color: $color-blue-light-1;
  font-size: 1.6rem;
  // color: $color-yellow;


  &__icon-text{
    // color: $color-black;
  }
}

.project__text { 
  text-align: left;
  color: $color-primary;
  display: table;
  margin-left: 3rem;
  // height: auto;
  // text-align: center;
  //   vertical-align: middle;
  //   line-height: 25rem;


  &--description {
    // color: $color-black;
    // display: table-cell;
    vertical-align: middle;
    margin-top: 3rem;
  // text-align: center;

  // vertical-align: middle;

    font-size: 2.2rem;

    & span {
      font-size: 1.4rem;
      font-weight: 600;
    }
    // margin: 0 auto;
    // text-align: left;
    // text-align: center;
    // vertical-align: middle;
    // line-height: 25rem;
  
  }

  &--stack {
    // color: $color-black;
    // display: table-cell;

    // font-size: 1.4rem;
    // font-weight: 600;
    // display: table-cell;
    // vertical-align: middle;
    // margin: 0 auto;
  }
}

.project__description {
  // position: absolute;
  // top: 50%;
    color: $color-black;
    font-size: 2.2rem;
    text-align: left;
  
}

.project__stack{

  color: $color-black;
  font-size: 1.4rem;
}