
// COLORS
$color-primary: #444;
$color-secondary: rgb(240, 226, 36);
// $color-secondary-light: 

$color-blue-light: #2998ff;

$color-grey-light-1: #f7f7f7; 

$color-grey-dark-1: #777; 
$color-grey-dark-2: rgba(119, 119, 119, 0.356); 

$color-white: #fff;
$color-black: #000; 

//GRID
$grid-width: 83.8rem;
$gutter-vertical: 5.9rem;
$gutter-horizontal: 4.4rem;


$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.7;
